<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Bachelor's in Computer Engineering</h1>
            <span><a href = "http://pict.edu">Pune Institute of Computer Technology </a>, University of Pune, 2012 to 2016 </span>
            <!-- <span>
              <address>Pune, Maharashtra, India</address>
              <time>2012 to 2016</time>
            </span> -->
        </header>
    </article>
    <!-- <article>
        <header>
            <h1>Major in Computer Science</h1>
            <span>University of College London</span>
            <span><address>London, UK</address><time>2007 to 2011</time></span>
        </header>
        <p>
            <em>Dissertation: Te dicit scripta nec, nec illud decore partem et.</em>
        </p>
    </article> -->
</section>
