<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Software Engineer</h1>
            <span><address><a href = "http://altizon.com">Altizon Systems</a>, Pune</address><time>Aug 2016 to Present</time></span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Google summer of code student developer</h1>
            <span><address><a href = "http://pcp.io">Performance Co-Pilot</a></address><time>April 2016 to August 2016</time></span>
        </header>
        <p>Writing pcp versions of popular process monitoring console tools like pidsat, mpstat and htop.</p>
    </article>
    <article>
        <header>
            <h1>Backend Developer Intern</h1>
            <span><address><a href = "http://makerville.io">Makerville Pvt. Ltd.</a>, Pune</address><time>Aug 2015 to April 2016</time></span>
        </header>
        <p>Design and develop backend services and write RESTful APIs for the FrontEnd team.</p>
    </article>

</section>
