<section class="thirteen columns">
    <h1>Work</h1>
    <article>
        <header>
            <h1>Software Engineer</h1>
            <span><address><a href="http://altizon.com">Altizon Systems</a>, Pune</address><time>Aug 2016 to Present</time></span>
        </header>
        <p>I work with the Applications Team. We work closely with the customers, understand their requirements, Add
            new features to our domain specific applications or sometimes build
            custom solutions. We also manage everything right form development to deployment and monitoring. </p>
    </article>
    <article>
        <header>
            <h1>Google summer of code student developer</h1>
            <span><address><a href="http://pcp.io">Performance Co-Pilot</a></address><time>April 2016 to August 2016</time></span>
        </header>
        <p>Writing pcp versions of popular process monitoring console tools like pidsat, mpstat and htop. <br><br>Traditional
            mpstat and pidstat command are easy to use but when it comes to report/analyse historical data or analysing
            a remote machine, these command are unable to be used. <a href="http://github.com/sitaramshelke/pcp-mpstat">pcp-mpstat
            </a> and <a href="http://github.com/sitaramshelke/pcp-pidstat">pcp-pidstat</a> are written as python
            scripts which use pcp API's to fetch metrics and display reports to console. The pcp framework enables
            these commands to be used with the pcp-archives, enabling them to report logged data and provides options
            to specify the address of remote hosts for which the metrics are to be reported.</p>
    </article>
    <article>
        <header>
            <h1>Backend Developer Intern</h1>
            <span><address><a href="http://makerville.io">Makerville Pvt. Ltd.</a>, Pune</address><time>Aug 2015 to
                    April 2016</time></span>
        </header>
        <p>Design and develop backend services.
            <br><br>Used Golang for writing fast and scalable REST API's with PostgreSql as database. Got to work with
            highly motivated people working together to solve challenging problem.
    </article>

    <!-- <a href = ""></a> -->
</section>